body {
  margin: 0;
  font-family: 'Malgun Gothic', '맑은 고딕', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
}

